@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #202124;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}